.camera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Chiều cao của trang để căn giữa theo chiều dọc */
}

video, canvas {
  width: 640px;
  height: 480px;
  border: 1px solid black;
}

button {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

button:hover {
  background-color: #45a049; 
}
