<h1 style="text-align: center;">Quét gương mặt</h1>
<div style="text-align: center; margin: 20px;">
    <!-- Video camera chỉ hiển thị nếu isCameraActive là true -->
    <video #video *ngIf="isCameraActive" width="720" height="560" autoplay muted></video>
    <canvas #canvas style="display: none;"></canvas>

    <div style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
        <div style="text-align: center; margin-right: 20px;">
            <h3>Hình ảnh vừa quét:</h3>
            <img 
                *ngIf="capturedImage"
                [src]="capturedImage" 
                alt="Captured Image" 
                width="300" 
                style="border: 2px solid #ccc; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
        </div>
        <div style="text-align: center;">
            <h3>Hình ảnh nhận diện:</h3>
            <img 
                *ngIf="uploadedImage"
                [src]="uploadedImage" 
                alt="Uploaded Image" 
                width="300" 
                style="border: 2px solid #ccc; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
        </div>
    </div>

    <div>
        <input type="file" (change)="uploadImage($event)" />
    </div>

    <!-- Tự động hiển thị kết quả sau khi so sánh -->
    <p *ngIf="isMatched !== null" [ngStyle]="{'color': isMatched ? 'green' : 'red'}" style="font-weight: bold; font-size: 20px; margin-top: 20px;">
        {{ isMatched ? 'Gương mặt trùng khớp' : 'Gương mặt không trùng khớp!' }}
    </p>
</div>
